/* container */
.tc_postbody { padding-top: 10px; margin-right: 300px;}
.tc_postcontent {width: 100%; min-width: 463px; float: left;}
.tc_postcontent_right {float: right; margin-right: -300px; width: 280px;}

/* Help section */
a.teachcourses_delete {color:#a00; text-decoration:none; font-size:12px; font-weight:bold;}
a.teachcourses_delete:hover {text-decoration:underline; color:red;}
.tc_print th {border:1px solid black; padding:5px 5px 5px 5px;}
.tc_print td {border:1px solid black; padding:5px 5px 5px 5px;}
.teachcourses_message {background-color: #fff; box-shadow: 0 1px 1px 0 rgba(0,0,0,.1); padding: 10px 12px; margin: 5px 0 15px 0;}
.teachcourses_message_green {border-left: 4px solid #7ad03a;}
.teachcourses_message_red {border-left: 4px solid red;}
.teachcourses_message_orange {border-left: 4px solid orange;}
.teachcourses_message_headline {font-weight:bold; font-size:1.1em;}
.teachcourses_message_text {padding-left:10px;}

/* others */
h2.tc_postbox {padding: 8px 12px; margin: 0; line-height: 1.4; cursor:default !important; font-size: 14px; border-bottom: 1px solid #eee;}
.tc_mass_edit_right {width:67%; float:left; padding-left: 1%;}
td.tc_course_child {padding-left:25px; background: url(../images/child.png) no-repeat 8px 6px;}
.tc_checkbox {margin-left:8px; padding-left:7px; text-align:left;}
.tc_actions {padding: 0 0 10px 0;}
.tc_bookmarks_checked {color:#bbb;}
.teachcourses_cloud a {text-decoration: none; padding-left: 2px;}
.tc_open_readme{cursor: pointer; font-weight: bold;}
.options_for_number{display: none;}
#tc_searchbox {float:right; padding-bottom: 5px;}
a.tc_search_cancel {font-size:14px; font-weight:bold; text-decoration:none; padding-right:3px;}
.tc_pub_label_status {background-color: orange; color: #fff; display: inline-block; padding: 3px 4px; margin-left: 5px; font-size: 10px; font-weight: bold; line-height: 1; border-radius: 2px; box-shadow: inset 0 -1px 0 rgba(0,0,0,0.12);}
.slim-select select {display: none;}

/* Action menus */
.tc_row_actions {visibility: hidden;padding: 2px 0 0; color:#ddd;}
.tc_row_actions a:hover {color:#ff6600;}
tr:hover .tc_row_actions {visibility: visible;}
.tc_row_actions-visible {padding: 2px 0 0;cursor: pointer;}
a.tc_row_delete, a.tc_file_delete {color:#a00;}
a.tc_row_delete:hover, a.tc_file_delete:hover {color:red;}
.ss-main {padding-bottom: 5px;}

/* cite screen */
.tc_cite_text { cursor: pointer; }
.tc_cite_bibtex { cursor: pointer; }

/* filelists */
.tc_filelist { padding-top: 5px; max-width: 680px;}
.tc_filelist .tc_file { padding: 8px 8px 8px 25px; border: solid 1px #ccc; margin-bottom: 4px; z-index: 123; position: relative; background: no-repeat 4px 8px; background-size: 20px 20px;}
.tc_file_headline { background-color: #eee !important;}
.tc_file_headline .tc_file_name {font-weight: bold;}
.tc_file_name i {width: 20px;}
.tc_filelist .tc_fileprogress { background: #0074a2; height: 5px;}
.tc_file_actions {margin-left: 0; visibility: hidden; position: absolute; right: 5px; top:10px; font-size: 12px; z-index: 1; color:#ddd;}
.tc_file_size {margin-left: 0; visibility: visible; position: absolute; right: 5px; top:10px; font-size: 12px; z-index: 1; color:#aaa;}
.tc_file:hover .tc_file_size{visibility:hidden;}
.tc_file:hover .tc_file_actions{visibility:visible;}
.tc_file a:hover {color: #ff6600;}
a.tc_file_view {text-decoration: none;}

/* jQuery UI */
#tc_sortable>li {cursor: move; min-height: 20px; background-color: #fff;}
.ui-state-highlight { height: 20px; padding: 8px 8px 8px 8px; border:1px dotted #ccc; }

/* Responsive */
@media only screen and (max-width: 850px) {
    .tc_postbody { padding-top: 10px; margin-right: 0px;}
    .tc_postcontent {width: 100%;}
    .tc_postcontent_right {width: 100%; margin-right: 0;}
}