/**
 * Template: teachcourses original small
 * Version: 1.3
 * Author: Michael Winkler
*/
.tc_bibtex_entry {
    font-size:0.8rem;}
.tc_bibtex_entry pre {
    white-space: normal;
    word-wrap: break-word;}
.tc_abstract_entry {
    font-size: 0.9rem;}
td.tc_pub_info_simple {
    border-bottom:1px solid silver; 
    vertical-align:top; 
    padding:8px;}
.tc_pub_author_simple, #content span.tc_pub_author_simple {}
.tc_pub_title_simple, #content span.tc_pub_title_simple {
    font-weight:bold;}
.tc_pub_additional_simple, #content span.tc_pub_additional_simple {}
.tc_pub_menu_simple, #content span.tc_pub_menu_simple  {
    color:#AAAAAA;}
.tc_pub_menu_simple a {
    color:#AAAAAA; 
    text-decoration:underline; 
    box-shadow: none;}
.tc_pub_menu_simple a:hover {
    color:#AAAAAA; 
    text-decoration:none;}
.tc_pub_type_simple {}
.tc_pub_link_image {
    max-width: 2em; 
    max-height: 2em;}
.tc_pub_menu_simple i {
    padding-left: 2px; 
    padding-right: 2px; 
    font-size: 110%; 
    text-decoration: none;}
.tc_close {
    cursor: pointer;
    font-weight: bold;
    font-size: 0.9rem; }