/*****************************/
/* shortcode: [tpcourseinfo] */
/*****************************/
.tc_courseinfo {width:100%; border:none;}
.tc_courseinfo tr {}
.tc_courseinfo td {border-bottom:1px dotted silver; padding:5px;}
.tc_courseinfo td.tc_courseinfo_type {vertical-align:middle;}
.tc_courseinfo td.tc_courseinfo_meta p {margin-top:3px; margin-bottom:3px;}
.tc_courseinfo td.tc_courseinfo_lecturer {vertical-align:middle;}

/******************************/
/* shortcode: [tpenrollments] */
/******************************/
/* enrollment menu */
#enrollments .tc_user_menu {padding:5px;}

/* table for user's old enrollments / table fo results */ 
#enrollments .teachcorses_enr_old, #enrollments .teachcorses_enr_results {border-collapse: collapse; border-bottom: 1px solid #ededed; font-size:11px; width: 100%}
#enrollments .teachcorses_enr_old th, #enrollments .teachcorses_enr_results th{padding:5px; color:#333333; background-repeat:repeat-x; margin:5px; border-collapse: collapse; border-bottom: 1px solid #ededed; font-size:12px; font-weight:bold;}
#enrollments .teachcorses_enr_old tr, #enrollments .teachcorses_enr_results tr {padding:5px; background-color:#FFFFFF; color:#000000; margin:5px; border-collapse: collapse; border-bottom: 1px solid #ededed; font-size:12px;}
#enrollments .teachcorses_enr_old td, #enrollments .teachcorses_enr_results td {padding:5px; margin:5px; border-collapse: collapse; border-bottom: 1px solid #ededed;}

/* table for current enrollments */
#enrollments .teachcorses_enr {font-size:13px; border:none;}
#enrollments .teachcorses_enr td {border:none; padding:5px; margin:5px;}
#enrollments .teachcorses_course_group {padding-bottom:10px;}
#enrollments .teachcorses_course_name {font-size:15px; font-weight:bold;}

/* table for edit userdata */
#enrollments .teachcorses_enr_edit {border:1px solid silver;}
#enrollments .teachcorses_enr_edit td {padding:5px;}

/* table for course results */
tr.tc_course_result td {font-weight: bold;}

/* misc */
h3.tc_enrollments {color:#005A46;}
.waitinglist {font-size:10px; color:#FF0000; padding-left:5px;}
.einschreibefrist {font-size:10px; color:#FF0000;}
.teachcorses_active_tab{font-weight: bold}
.teachcorses_message {border:1px solid #f90; border-left-width:0.9em; font-weight:bold; margin:1em; padding:.5em 1em;}
.teachcorses_message_error {border:1px solid #FF0000; border-left-width:0.9em; font-weight:bold; margin:1em; padding:.5em 1em;}
.teachcorses_message_success {border:1px solid #00FF00; border-left-width:0.9em; font-weight:bold; margin:1em; padding:.5em 1em;}
.teachcorses_message_info {border:1px solid #f90; border-left-width:0.9em; font-weight:bold; margin:1em; padding:.5em 1em;}

/********************************************************************************************/
/* publication lists for the following shortcodes: [tpcloud] [tplist] [tpsinlge] [tpsearch] */
/********************************************************************************************/

/* container */
.teachcorses_publication_list {width:100%; border:none; border-spacing: 0;}
.teachcorses_publication_list td, .teachcorses_course_list td {padding:5px;}

/* filter and search field */
.teachcorses_filter {text-align:center; padding-top:5px;}
.teachcorses_filter select.block {display: block; width: 100%; margin-bottom:8px; margin-top:5px;}
.teachcorses_cloud {text-align:center;}
input.tc_search_button {border: 1px solid silver; padding:6px 6px; font-size:0.9em; font-weight: bold; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background:transparent; margin:0 0 0 6px; cursor:pointer;  background: #008bd2; color: #FFFFFF;}
input.tc_search_button:hover {background:#ECECEC; color:#333333;}
a.tc_search_reset {background:transparent; cursor:pointer; border:none; font-weight: bold; padding:3px 6px; text-decoration: none; font-size:13px; color:#000;}
a.tc_search_reset:hover {color:red;}
#tc_search_input_field {width: 60%;}

/* active tags */
.teachcorses_cloud a.teachcorses_cloud_active {color:#008bd2; font-weight:bold;}
.teachcorses_cloud a.teachcorses_cloud_active:hover {color:#008bd2; font-weight:bold; text-decoration:underline;}
.teachcorses_cloud a {color:#AAAAAA; text-decoration:none; box-shadow: none;}
.teachcorses_cloud a:hover {color:#AAAAAA; text-decoration:underline;}

/* table nav */
.tablenav {padding-top:5px; margin:6px 0 4px; height:30px; vertical-align:middle; width:100%;}
.tablenav-pages {float:right;}
.tablenav-pages span.inactive {border: 1px solid silver; padding:3px 6px; font-size:0.9em; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; color:#CCCCCC; font-size:12px; }
.tablenav .tablenav-pages a {border: 1px solid; padding:3px 6px; font-size:0.9em; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; font-size:12px; font-weight:bold;}
.tablenav .tablenav-pages a, .tablenav .tablenav-pages a:visited {border-color:silver; color:#333333; text-decoration:none;}
.tablenav .tablenav-pages a:hover , .tablenav .tablenav-pages a.disabled{background:#ECECEC; color:#333333;}
.tablenav-pages .page-numbers {display: inline;}

/* numbered style */
td.tc_pub_number, td.tc_pub_number_simple {vertical-align: top; padding: 8px; border-bottom: 1px solid silver;}

/* abstract, bibtex, link boxes */
.tc_bibtex_entry, .tc_abstract_entry, .tc_links_entry{padding:8px 8px 8px 8px;}
.tc_close_menu {margin-top:1px; margin-bottom:1px;}
.tc_close {cursor:pointer; font-weight: bold;}
.tc_pub_link img {margin: 0; width: 17px; height: 17px; padding: 0 1px 0 1px; display: inline;}
ul.tc_pub_list li {padding: 3px 0 3px 0; list-style: none; margin-left:10px; font-size:0.9rem;}
a.tc_pub_list {padding: 5px 0 5px 0px; background: no-repeat 0 3px; background-size: 18px 18px;}
ul.tc_pub_list li i {width: 25px;}
a.tc_show {color: inherit;}
a.tc_show_block {font-weight: bold; text-decoration: none;}

/* images */
td.tc_pub_image_left, td.tc_pub_image_right{vertical-align: top; padding: 8px; border-bottom: 1px solid silver;}
.tc_pub_image_bottom {text-align:center;}

/*******************************************************/
/* single publication, shortcode: [tpsingle], [tpcite] */
/*******************************************************/
span.tc_single_title {font-size:0.9rem;}
span.tc_single_author {font-size:0.9rem;}
span.tc_single_year {font-size:0.9rem;}
span.tc_single_additional {font-size:0.9rem; font-style:italic;}
div.tc_single_image_left{float:left; padding: 0 5px 5px 0;}
div.tc_single_image_right{float:right; padding: 0 0 5px 5px;}
li.tc_cite_entry {font-size:0.9rem;}

/**********************************************/
/* course overview, shortcode: [tpcourselist] */
/**********************************************/
#tpcourselist h3 {}
#tpcourselist table.teachcorses_course_list {border:none; width:100%;}
.tc_course_headline{font-weight: bold; font-size: 1.2em;}
.tc_auswahl {margin:3px; padding:3px;}
.tc_lvs_name {font-size:14px;}
td.tc_lvs_container {margin:5px; border-bottom:1px solid silver; border-right:1px solid silver; padding:7px 5px 7px 5px;}
.tc_lvs_comments {padding-top:5px; margin:0; min-height:17px;}